@import url('https://fonts.googleapis.com/css?family=Anton');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/background.jpg);
    background-size: cover;
}
.container{
    border: 0px hidden;
    background-color: transparent;
    width: 1200px;
    padding: 5px;
    margin: 20px auto;
}
header, nav, main, aside, footer{
    border-radius: 10px;
    border: 0px hidden;
    margin: 5px;
    padding: 10px;
}
main{
    margin: 8px auto;
    width:800px;
}
nav, main, aside{
    font-family: 'Anton', sans-serif;
    float: left;
    height: 500px;
}
nav{
    float: left;
    background-color: transparent;
    width:130px;
}
nav ul{
    font-size: 2em;    
    list-style-type: none;
    padding-left: 0px;
}
nav ul li{
    font-size: 1em;
    display: block;
    background-color: transparent;
    text-align: center;
}

nav ul li a{
    transform: translate(-50%, -50%);
    width:400px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 200%;
    border-radius: 10%;
    z-index: 1;
}

a:hover{
    animation: animate 8s linear infinite;
}


@keyframes animate{
    0%
    {
        background-position: 0%;    
    }
    100%
    {
        background-position: 400%;
    }
}

a:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40%;
    opacity: 0;
    transition: 0.5s;
}

a:hover:before
{
    filter: blur(20px);
    
}

nav a:link{
    color: white;
    border: outset;
    border-color: rgb(250, 235, 215);
}
nav a:visited{
    color: white;
    border-color: rgb(250, 235, 215);
}

nav a:active{
    background-color: rgb(247, 203, 232);
    border: inset;
    border-color: rgb(250, 235, 215);
}
aside#ad{
    float: right;
    background-color: #9370DB;
    width: 150px;
}
aside#ad p#site{
    position: relative;
    top: 320px;
    text-align: end;
}
aside#ad p#site img{
    margin-top:5px; 
    width: 20%;
    height: 20%;
}
section#declare{
    font-size:120%;
    text-indent: 1em;
    line-height: 3em;
    padding: 10px 20px;
}
section#declare span{
    font-size: 120%;
    font-variant: small-caps;
    float: right;
}
section#declare::first-letter{
    font-size:3em;
    font-weight:bold;
    color: rgb(166, 113, 223);
    text-shadow: -3px -3px 3px rgb(3, 0, 8);
}
section#codecatcher{
    font-size:120%;
    font-family: Baskerville, "Goudy Old Style",Garamond, Palatino, serif; 
    font-weight:bold;
    line-height: 3em;
    padding: 3px 50px;
}
header img{
    height: 7%;
    width: 7%;
    margin-left: 10px;
}
header span{
    font-size: 100%;
    position: absolute;
    top:90px;
}
footer, header{
    background-color: white; 
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: 1170px;
    background-position: center;
}

footer{
    clear: both;
    height: 40px;
}
footer p{
    font-family: 'Anton', sans-serif;
    size:8px;
   
    text-align: center;
    font-variant-caps: all-petite-caps;
}

#errors{
    position: relative;
    top: 10px;
    font-size: 0.8em;
    color: #444444;
}

body span.animated{
    animation-duration: 2s;
  }

/***portfolio**/
.image{
    position: relative;
  }
  .image img{
    margin: 0px;
    width: 30%;
  }
  .image-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    overflow: hidden;
    width: 30%;
    height: 99%;
    background-color: rgba(231, 76, 60,.6);
    text-align: center;
    opacity:0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .image:hover .image-overlay{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  .image-overlay .image-link{
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
  }
   